@import '../../index';

.extraMenu {
  @apply flex justify-between py-2 px-3;
  font-size: 14px;
  .activeItem {
    color: $Light-Dark-Grayish-Blue;
    font-weight: bold;
    cursor: default;
  }

  .clearCompleted {
    color: $Light-Dark-Grayish-Blue;
    font-weight: bold;
  }
  .clearCompleted:hover {
    color: $Dark-Light-Grayish-Blue;
    font-weight: bold;
  }
}