@import '../../index';

.extraMenu {
  @apply flex justify-between py-2 px-3;
  font-size: 14px;
  .activeItem {
    color: $Light-Dark-Grayish-Blue;
    @apply cursor-default font-bold;
  }

  .clearCompleted {
    color: $Light-Dark-Grayish-Blue;
    @apply font-bold;
  }
  .clearCompleted:hover {
    color: $Dark-Light-Grayish-Blue;
  }
}