@import '../../index';

.containerTodo {
  @apply flex w-full border-b py-1;
.checkbox{
  @apply hidden;
}
  .checkboxLabel {
    @apply w-5 h-5 rounded-xl mt-2.5 mr-1.5 ml-5 cursor-pointer outline-none;
    border: 1px solid $Light-Dark-Grayish-Blue;
  }
  .checkboxLabel.checkboxActive{
    background: $Check-Background;
    position: relative;
  }
  .checkboxLabel.checkboxActive::before{
    @apply text-white absolute;
    content: url("../../Assets/Image/icon-check.svg");
    right: 3px;
    top: -4px;
  }
  .title {
    @apply p-2 flex-auto;
  }

  .btnForDel {
    @apply px-4 w-11;
  }
}

.containerTodo.dark{
  border-color: $Dark-Very-Dark-Grayish;
}