@import '../../index';

.containerTodo {
  @apply flex w-full border-b py-1;
  .checkbox {
    @apply hidden;
  }

  .checkboxLabel {
    @apply w-5 h-5 rounded-xl my-auto mr-1.5 ml-3 cursor-pointer outline-none flex-grow-0 flex-shrink-0 flex justify-center items-center;
    border: 1px solid $Light-Dark-Grayish-Blue;
  }

  .checkboxLabel.checkboxActive {
    background: $Check-Background;
    position: relative;
  }

  .checkboxLabel.checkboxActive::before {
    @apply text-white absolute;
    content: url("../../Assets/Image/icon-check.svg");
    right: 3px;
    top: -4px;
  }

  .title {
    @apply p-2 flex-auto break-all;
  }

  .btnForDel {
    @apply px-4 flex-grow-0 flex-shrink-0;

  }

}
.completed{
  @apply line-through;
  color: $Light-Light-Grayish-Blue;
}
.completed.dark{
  color: $Dark-Very-Dark-Grayish;
}
.containerTodo.dark {
  border-color: $Dark-Very-Dark-Grayish;

  //Dark-Very-Dark-Grayish
}