@import '../../index';

.containerTodo {
  @apply flex w-full border-b py-1;
  .checkbox {
    @apply hidden;
  }

  .checkboxLabel {
    @apply w-5 h-5 rounded-xl my-auto mr-1.5 ml-3 cursor-pointer outline-none flex-grow-0 flex-shrink-0 flex justify-center items-center;
    border: 1px solid $Light-Dark-Grayish-Blue;
  }

  .checkboxLabel.checkboxActive {
    background: $Check-Background;
    position: relative;
  }

  .checkboxLabel.checkboxActive::before {
    @apply text-white absolute;
    content: url("../../Assets/Image/icon-check.svg");
    right: 3px;
    top: -4px;
  }

  .title {
    @apply p-2 flex-auto;
  }

  .titleLess400px {
    @apply break-all;
  }

  .titleMore400px {
    @apply break-words;
  }

  .btnForDel {
    @apply pr-4 flex-grow-0 flex-shrink-0;
    > svg {
      fill: #494C6B;
    }

    > svg:hover {
      fill: #c21e04;
    }
  }

  .btnForUpdating {
    @apply px-3 flex-grow-0 flex-shrink-0;
    > svg {
      color: #494C6B;
    }

    > svg:hover {
      color: $Bright-Blue;
    }
  }

}

.completed {
  @apply line-through;
  color: $Light-Dark-Grayish-Blue;
}

.completed.dark {
  color: $Dark-Very-Dark-Grayish;
}

.containerTodo.dark {
  border-color: $Dark-Very-Dark-Grayish;
}

.none {
  @apply hidden;
}