@import '../../../index';

.button {
    @apply mx-3 font-bold outline-transparent border-none;
    color:$Dark-Dark-Grayish-Blue;

}
.button:hover{
    color:$Dark-Very-Dark-Grayish;
}
.active{
    color: $Bright-Blue;
}

.active:focus{
    color: $Bright-Blue;
}