@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

$Dark-Very-Dark-Blue: hsl(235, 21%, 11%);
$Dark-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
$Dark-Light-Grayish-Blue: hsl(234, 39%, 85%);
$Dark-Light-Grayish-Blue-Hover: hsl(236, 33%, 92%);
$Dark-Dark-Grayish-Blue: hsl(234, 11%, 52%);
$Dark-Very-Dark-Grayish: hsl(233, 14%, 35%);
$Dark-Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);


$Light-Very-Light-Gray: hsl(0, 0%, 98%);
$Light-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
$Light-Light-Grayish-Blue: hsl(233, 11%, 84%);
$Light-Dark-Grayish-Blue: hsl(236, 9%, 61%);
$Light-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

$Bright-Blue: hsl(220, 98%, 61%);
$Check-Background: linear-gradient(135deg, hsla(192, 100%, 67%, 1) 0%, hsla(280, 87%, 65%, 1) 100%);

body {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}
//@import '../../index';